<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Mafia</title>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" type="text/javascript"></script>
	<link rel="stylesheet" href="/static/style.css" type="text/css">
	<script type="text/javascript">
		var SESSION = 0;
		$(function() {
			$.ajax( "/cmd/new" )
			.done((data) => {
				SESSION = data.id;
				loadBroadcast();
				setInterval(loadBroadcast, 7*1000);
			});
		});
		function loadBroadcast() {
			$.ajax( "/cmd/broadcast/"+SESSION )
			.done((data) => {
				$("#title").html(data.title);
				if (data.file != "") {
					new Audio(data.file).play();
				}
				$("#buttons").html("");
				for (i in data.buttons) {
					$("#buttons").append("<button onclick='$.ajax(\""+data.buttons[i].cmd+"\");disableAll();loadRender();'>"+data.buttons[i].text+"</button>");
				}
			});
		}
		function disableAll() {
			$('#buttons :button').attr("disabled", true);
		}
	</script>
</head>
<body>
	<h1 id="title">Mafia</h1>
	<div id="buttons">
	
	</div>
</body>
</html>
